{{ define "content" }}
    {{ .Content }}
    <hr class="mt-8 mb-8 text-gray-500" />
    <div class=" ">
            {{ range where .Site.Pages ".Params.category" "==" "product_category" }}
                <div class="mb-8">
                    <div><a href="{{ .Permalink}}" class="text-purple-900">{{ .Title}}</a></div>
                    <div class="text-xs text-purple-900">Type: {{ .Params.Texonomies.Categories }}</div>
                    <div>{{ .Summary}}</div>
                    <a href="{{ .Permalink}}" class="text-xs text-purple-900" >View</a>
                </div>
            {{ end }}
         </div>
    <P class="text-xs mt-8 text-gray-500">Our_product/list.html templete</P>
{{ end }}